[profile p1]
sso_session = main
sso_account_id = 123456789
sso_role_name = myrole

[sso-session main]
sso_region = us-test-2
sso_start_url = https://testacct.awsapps.com/start

[profile p2-legacy]
sso_start_url = https://legacy.awsapps.com/start
sso_region = us-test-1
sso_account_id = 987654321
sso_role_name = legacyrole

[profile p3-broken]
sso_account_id = 111111111
sso_role_name = brokenrole

[profile p4-noregion]
sso_start_url = https://noregion.awsapps.com/start
sso_account_id = 222222222
sso_role_name = noregionrole
