name: Go

on:
  pull_request:
    branches:
    - master
  push:
    branches:
    - master

jobs:
  build:
    name: Test on Go ${{ matrix.go-version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go-version: [1.13.x, 1.14.x]
        os: [windows-latest]
    steps:
      - name: Set up Go ${{ matrix.go-version }} on ${{ matrix.os }}
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Build on ${{ matrix.os }}
        env:
          MINT_MODE: core
          SERVER_ENDPOINT: localhost:9000
          ACCESS_KEY: minio
          SECRET_KEY: minio123
          ENABLE_HTTPS: 1
          MINIO_ACCESS_KEY: minio
          MINIO_SECRET_KEY: minio123
          GO111MODULE: on
        run: |
          New-Item -ItemType Directory -Path "$env:temp/certs-dir"
          Copy-Item -Path testcerts\* -Destination "$env:temp/certs-dir"
          Invoke-WebRequest -Uri https://dl.minio.io/server/minio/release/windows-amd64/minio.exe -OutFile $HOME/minio.exe
          Start-Process -NoNewWindow -FilePath "$HOME/minio.exe" -ArgumentList "-S", "$env:temp/certs-dir", "server", "$env:temp/fs"
          $env:SSL_CERT_FILE = "$env:temp/certs-dir/public.crt"
          go run functional_tests.go
