name: VulnCheck
on:
  pull_request:
    branches:
    - master
    - main
  push:
    branches:
    - master
    - main
jobs:
  vulncheck:
    name: Analysis
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ 1.25.x ]
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
        check-latest: true
    - name: Get govulncheck
      run: go install golang.org/x/vuln/cmd/govulncheck@latest
      shell: bash
    - name: Run govulncheck
      run: govulncheck ./...
      shell: bash
